<div class="card card-xxl-stretch mb-5 mb-xl-8">
    <div class="card-header border-0 pt-5">
        <h3 class="card-title align-items-start flex-column">
            <span class="card-label fw-bolder fs-3 mb-1">{{header}}</span>
        </h3>
    </div>
    <div class="card-body">
        <div class="row" *ngIf="comments">
            <div class="col-xxl-6" style="border-right: 1px solid #F1F1F4;">
                <div class="row">
                    <div class="col-xxl-4" style="padding: 0;">
                        <div class="card card-xl-stretch mb-xl-8">
                            <div class="card-body">
                                <div class="mb-2" style="text-align: center;">
                                    <img [src]="comments[0].product?.fileResult.fileContents"
                                        style="height: 100px; width: auto;">
                                </div>

                                <span class="mb-2 badge badge-light-success" *ngIf="comments[0].product?.isMostRating">
                                    <div class="rating">
                                        <div class="rating-label me-2 checked">
                                            <i class="bi bi-star-fill fs-5"></i>
                                        </div>
                                        {{'HIGHEST_RATED_PRODUCT' | translate}}
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-8">
                        <div class="mb-2" style="text-align: left;">
                            <div class="d-flex justify-content-start flex-column">
                                <a class="text-gray-900 fw-bolder text-hover-primary fs-3">
                                    {{comments[0].product?.name}}
                                </a>
                            </div>
                        </div>
                        <div class="mb-5" style="text-align: left;">
                            <div class="d-flex justify-content-start flex-column">
                                <a class="fw-bolder fs-3">
                                    <span *ngIf="comments[0].product?.sale! > 0" class="text-danger" style="text-decoration: line-through;">
                                        {{comments[0].product?.price?.toFixed(2)}} ₺</span>
                                </a>
                                <a class="fw-bolder fs-3">
                                    <span *ngIf="comments[0].product?.sale! > 0"> {{comments[0].product?.discountedPrice?.toFixed(2)}} ₺</span>
                                </a>
                                <a class="fw-bolder fs-3">
                                    <span *ngIf="comments[0].product?.sale! <= 0"> {{comments[0].product?.price?.toFixed(2)}} ₺</span>
                                </a>
                            </div>
                        </div>
                        <div class="mb-10" style="text-align: left;" *ngIf="comments[0].product?.rating">
                            <div class="d-flex justify-content-start flex-column">
                                <a class="text-gray-900 fw-normal fs-6">
                                    <div class="rating">
                                        {{comments[0].product?.rating?.toFixed(1)}}&nbsp;&nbsp;
    
                                        <ng-container *ngFor="let status of comments[0].product?.starsStatus">
                                            <div class="rating-label me-2 {{status}}">
                                                <i class="bi bi-star-fill"></i>
                                            </div>
                                        </ng-container>

                                        &nbsp;&nbsp;•&nbsp;&nbsp;

                                        <a class="text-gray-800 fw-normal text-hover-primary">
                                            <span class="fw-bolder">{{comments[0].product?.commentsCount}}</span>
                                            {{'EVALUATION' | translate}}
                                        </a>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div style="text-align: center;" *ngIf="comments[0].product?.stock! > 0">
                            <a style="width: 100%;" title="Click to Add" class="btn btn-sm btn-light-primary">
                                <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr075.svg'"
                                    class="svg-icon svg-icon-3"></span>
                                {{'ADD_TO_BASKET' | translate}}
                            </a>
                        </div>

                        <span *ngIf="comments[0].product?.stock! == 0" class="badge badge-light-danger" style="height: 35px; text-align: center;">
                                {{'OUT_OF_STOCK' | translate}}                           
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xxl-6">
                <ng-container *ngFor="let item of comments">
                    <div class="card card-xl-stretch mb-xl-8" *ngIf="item.comment != '' && item.comment != null">
                        <div class="card-body py-3">
                            <div class="row mb-2">
                                <div class="d-flex justify-content-start flex-column">
                                    <a class="text-gray-900 fw-normal fs-6">
                                        <div class="rating">
                                            {{'DELIVERY' | translate}} &nbsp;&nbsp;
        
                                            <ng-container *ngFor="let star of item.deliveryStars">
                                                <div class="rating-label me-2 {{star}}">
                                                    <i class="bi bi-star-fill"></i>
                                                </div>
                                            </ng-container>

                                            &nbsp;&nbsp;•&nbsp;&nbsp;

                                            {{'QUALITY' | translate}} &nbsp;&nbsp;
        
                                            <ng-container *ngFor="let star of item.qualityStars">
                                                <div class="rating-label me-2 {{star}}">
                                                    <i class="bi bi-star-fill"></i>
                                                </div>
                                            </ng-container>

                                            &nbsp;&nbsp;•&nbsp;&nbsp;

                                            {{'VENDOR' | translate}} &nbsp;&nbsp;
        
                                            <ng-container *ngFor="let star of item.vendorStars">
                                                <div class="rating-label me-2 {{star}}">
                                                    <i class="bi bi-star-fill"></i>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="row mb-8">
                                <div class="d-flex justify-content-start flex-column">
                                    <a class="text-gray-900 fw-bolder fs-5">
                                        {{item.userName}}
                                        &nbsp;&nbsp;•&nbsp;&nbsp;
                                        <a class="text-gray-900 fw-normal fs-5">
                                            {{item.date}}
                                        </a>
                                    </a>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="d-flex justify-content-start flex-column">
                                    <a class="text-gray-900 fw-normal fs-5">
                                        {{item.comment}}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>

                <ngb-pagination *ngIf="totalCount > 0" [collectionSize]="totalCount"
                    [(page)]="paginationModel.pageNumber" [pageSize]="paginationModel.pageSize" [rotate]="true"
                    [ellipses]="false" [boundaryLinks]="true" (pageChange)="paginationModelChange()">
                </ngb-pagination>

                <ng-container *ngIf="totalCount == 0">
                    <div class="col-xxl-12" style="height: 500px; text-align: center; align-items: center;">
                        <div class="card card-xl-stretch mb-xl-8">
                            <div class="card-body">
                                <div class="d-flex justify-content-start flex-column" style="position: absolute;
                        left: 50%;
                        top: 50%;
                        -webkit-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);">
                                    <a class="text-gray-900 fw-bolder text-hover-primary fs-6">
                                        {{'NO_DATA_AVAILABLE' | translate}}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>