<div class="card card-xxl-stretch mb-5 mb-xl-8">
    <div class="card-header border-0 pt-5">
        <h3 class="card-title align-items-start flex-column">
            <span class="card-label fw-bolder fs-3 mb-1">{{'SHOPPING' | translate}}</span>
        </h3>
    </div>
    <div class="card-body py-3">
        <!-- begin::Search bar -->
        <div class="row mb-7 mt-2">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <form class="form-inline" (ngSubmit)="onSearch()">
                    <div class="input-group mb-3">
                        <input class="form-control" type="search" placeholder="{{'SEARCH_BAR' | translate}}"
                            aria-label="Ara" [(ngModel)]="searchTerm" name="searchTerm">
                        <div class="input-group-append">

                            <button type="submit" class="btn btn-light-primary"
                                style="border-top-left-radius: 0px; border-bottom-left-radius: 0px;">
                                <ng-container>
                                    <span class="indicator-label">
                                        {{'SEARCH_BAR' | translate}}
                                    </span>
                                </ng-container>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <!-- end::Search bar -->

        <app-product-carousel id="vegetables" [items]="vegetables" [header]="'VEGETABLE'"></app-product-carousel>

        <app-product-carousel id="fruits" [items]="fruits" [header]="'FRUIT'"></app-product-carousel>

        <app-product-carousel id="driedFurits" [items]="driedFruits" [header]="'DRIED_FRUIT'"></app-product-carousel>

        <app-product-carousel id="advantageous" [items]="advantageous"
            [header]="'ADVANTAGEOUS_PRODUCTS'"></app-product-carousel>

        <app-product-carousel *ngIf="userId == 0" id="highScores" [items]="highScores"
            [header]="'HIGH_SCORERS'"></app-product-carousel>

        <app-product-carousel *ngIf="userId > 0 && recommendedProducts && recommendedProducts.length > 0" id="recommendedProducts"
            [items]="recommendedProducts" [header]="'RECOMMENDED_PRODUCTS'"></app-product-carousel>

        <app-product-carousel *ngIf="userId > 0 && quickDeliveries && quickDeliveries.length > 0" id="quickDeliveries"
            [items]="quickDeliveries" [header]="'QUICK_DELIVERY'"></app-product-carousel>

        <app-product-carousel *ngIf="userId > 0 && suggestedVendors && suggestedVendors.length > 0" id="suggestedVendors"
            [items]="suggestedVendors" [header]="'BEST_VENDORS'"></app-product-carousel>
    </div>
</div>