<div *ngIf="!isCurrentUserExist" class="d-flex align-items-center me-3">
  <button type="button" (click)="routeToLogin()" class="btn btn-primary">
    <ng-container>
      <span class="indicator-label">
        {{'LOG_IN' | translate}}
      </span>
    </ng-container>
  </button>
</div>

<div *ngIf="isCurrentUserExist" class="d-flex align-items-center me-3" id="kt_header_user_menu_toggle">
  <!--begin::Menu wrapper-->
  <div class="cursor-pointer symbol symbol-40px" data-kt-menu-trigger="{default: 'click', lg: 'hover'}"
    data-kt-menu-placement="bottom-end" title="{{'USER_PROFILE' | translate}}">
    <img *ngIf="user?.fileId == undefined" src="./assets/media/avatars/blank.png" />
    <img *ngIf="user?.fileId != undefined" [src]="avatarUrl" alt="image" />
  </div>
  <!--end::Menu wrapper-->
  <app-user-inner></app-user-inner>
</div>

<div *ngIf="isCurrentUserExist" class="d-flex align-items-center me-3">
  <div
    class="cursor-pointer symbol symbol-40px notification-symbol"
    [ngClass]="{ 'has-unread': unreadedNotificationCount > 0, 'is-animating': isNotificationAnimating }"
    (mouseenter)="loadNotifications()"
    data-kt-menu-trigger="{default: 'click'}"
    data-kt-menu-placement="bottom-end"
    title="Notifications"
  >
    <span class="symbol-label position-relative notification-symbol-label">
      <i
        class="fa-bell notification-bell"
        [ngClass]="unreadedNotificationCount > 0 ? 'fa-solid' : 'fa-regular'"
      ></i>

      <span
        *ngIf="unreadedNotificationCount > 0"
        class="notification-badge"
      >
        {{ unreadedNotificationCount > 99 ? '99+' : unreadedNotificationCount }}
      </span>

      <span
        *ngIf="unreadedNotificationCount > 0"
        class="notification-pulse"
      ></span>
    </span>
  </div>

  <app-notifications-inner
    [notifications]="notifications"
    [totalNotificationCount]="totalNotificationCount"
    [unreadedNotificationCount]="unreadedNotificationCount"
  >
  </app-notifications-inner>
</div>

<div *ngIf="!isCurrentUserExist" class="d-flex align-items-center me-3" id="kt_header_user_menu_toggle">
  <!--begin::Menu wrapper-->
  <div class="cursor-pointer symbol symbol-40px" data-kt-menu-trigger="{default: 'click', lg: 'hover'}"
    data-kt-menu-placement="bottom-end" title="{{'LANGUAGE' | translate}}">
    <img *ngIf="language" [src]="language.flag" />
  </div>
  <!--end::Menu wrapper-->
    <app-language-inner></app-language-inner>
</div>