<div [ngStyle]="{'height.px': bannerHeight}">
  <div class="row mx-10" [ngStyle]="{'padding-top.px': bannerPaddingTopHeight}">
    <div class="center-title-wrapper banner-overlay">
      <div class="col-lg-5">
        <div class="fw-bolder text-white py-5" style="text-shadow: 0 1px 3px #000000a1;
    font-size: 20px;border-bottom: 2px solid rgba(255, 255, 255, 0.1)">
          {{ 'HOME_HEADER' | translate }}
        </div>
        <div class="py-5">
          <div class="row">
            <div class="w-50">
              <a (click)="goToOffers()"
                class="btn btn-custom btn-active-dark btn-color-primary btn-secondary w-100 fs-4 fw-bolder"
                data-kt-menu-flip="top-end">
                <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr004.svg'"
                  class="svg-icon svg-icon-2 me-1"></span>
                {{ 'EXPLORE' | translate }}
              </a>
            </div>
            <div class="w-50">
              <a (click)="goToMemories()"
                class="btn btn-custom btn-active-white btn-color-white btn-primary w-100 fs-4 fw-bolder"
                data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
                <span [inlineSVG]="'./assets/media/icons/duotune/general/gen006.svg'"
                  class="svg-icon svg-icon-2 me-1"></span>
                {{ 'MEMORIES' | translate }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section id="offers" class="mx-10">
  <div class="row px-10 pt-10">
    <div class="col-lg-6">
      <span class="badge fs-5 fw-bolder me-auto px-4 py-3 badge-primary text-white">
       <a class="fw-bolder text-white">
            <img alt="Logo" src="./assets/media/logos/logo-2.png" class="bg-primary h-25px" style="padding: 5px !important;"/>
            &nbsp;{{ 'OFFERS' | translate}}
        </a>
      </span>
    </div>
    <div class="col-lg-6">
      <h1 class="heading-3 text-primary">{{ 'OFFERS_HEADER' | translate }}</h1>
    </div>
  </div>

  <div class="row px-10 py-10">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header border-0">
          <h3 class="card-title align-items-start flex-column">
            <span (click)="goToSignUp()" class="cursor-pointer card-label fw-bolder text-hover-light-primary text-primary">{{ 'OFFERS_FIRST_CONTENT_HEADER' | translate }}</span>
            <span class="text-light-primary mt-3 fw-bold fs-sm">{{ 'OFFERS_FIRST_CONTENT_SUBHEADER' | translate }}</span>
          </h3>
        </div>
        <div class="card-body">
          <img style="width: 100%; height: auto;border-radius: 10px;" src="./assets/media/patterns/section1-1.jpg" />
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row mb-5">
        <div class="col-lg-6">
          <div class="card" style="height: 300px;">
            <div class="card-header">
              <h3 class="card-title align-items-start flex-column">
                <span class="fw-bolder text-primary">{{ 'OFFERS_SECOND_CONTENT_HEADER' | translate }}</span>
              </h3>
            </div>
            <div class="card-body">
              <div style="text-align: center;">
                <span [inlineSVG]="'./assets/media/icons/duotune/general/gen006.svg'"
                  class="svg-icon svg-icon-1 text-light-primary"></span>
              </div>
              <h3 class="card-title align-items-start flex-column mx-2 my-10">
                <span class="text-light-primary mt-3 fw-bold fs-sm">{{ 'OFFERS_SECOND_CONTENT_SUBHEADER' | translate }}</span>
              </h3>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card" style="height: 300px;">
            <div class="card-header">
              <h3 class="card-title text-center flex-column">
                <span class="card-label fw-bolder text-primary">{{ 'OFFERS_THIRD_CONTENT_HEADER' | translate }}</span>
              </h3>
            </div>
            <div class="card-body">
              <div style="text-align: center;">
                <i class="fa fa-ribbon text-light-primary fs-1"></i>
              </div>
              <h3 class="card-title text-center flex-column mx-2 my-10">
                <span class="text-light-primary mt-3 fw-bold fs-sm">{{ 'OFFERS_THIRD_CONTENT_SUBHEADER' | translate }}</span>
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="card" style="height: 300px;">
            <div class="card-header">
              <h3 class="card-title align-items-start flex-column">
                <span class="fw-bolder text-primary">{{ 'OFFERS_FOURTH_CONTENT_HEADER' | translate }}</span>
              </h3>
            </div>
            <div class="card-body">
              <div style="text-align: center;">
                <i class="fa fa-ban text-light-primary fs-1"></i>
              </div>
              <h3 class="card-title align-items-start flex-column mx-2 my-10">
                <span class="text-light-primary mt-3 fw-bold fs-sm">{{ 'OFFERS_FOURTH_CONTENT_SUBHEADER' | translate }}</span>
              </h3>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card" style="height: 300px;">
            <div class="card-header">
              <h3 class="card-title align-items-start flex-column">
                <span class="fw-bolder text-primary">{{ 'OFFERS_FIFTH_CONTENT_HEADER' | translate }}</span>
              </h3>
            </div>
            <div class="card-body">
              <div style="text-align: center;">
                <i class="fa-solid fa-heart text-light-primary fs-1"></i>
              </div>
              <h3 class="card-title align-items-start flex-column mx-2 my-10">
                <span class="text-light-primary mt-3 fw-bold fs-sm">{{ 'OFFERS_FIFTH_CONTENT_SUBHEADER' | translate }}</span>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="about" class="mx-10">
  <div class="row px-10 pt-10">
    <div class="col-lg-6">
      <span class="badge fs-5 fw-bolder me-auto px-4 py-3 badge-primary text-white">
        <a class="fw-bolder text-white">
            <img alt="Logo" src="./assets/media/logos/logo-2.png" class="bg-primary h-25px" style="padding: 5px !important;"/>
            &nbsp;{{ 'ABOUT' | translate}}
          </a>
      </span>
    </div>
  </div>
  <div class="row px-10 py-10">
    <div class="col-lg-6" style="padding-right: 0px;">
      <div class="card bg-primary border-0"
        style="height: 600px !important; border-top-right-radius: 0px;border-bottom-right-radius: 0px;">
        <div class="card-header">
          <h3 class="card-title align-items-start flex-column">
            <span (click)="goToAbout()" class="cursor-pointer  fw-bolder text-white">{{ 'ABOUT_HEADER' | translate }}</span>
          </h3>
        </div>
        <div class="card-body">
          <h3 class="card-title flex-column mx-2 my-2">
            <span class="text-white mt-3 fw-bold fs-sm" style="white-space: pre-line">
              {{ 'ABOUT_CONTENT' | translate }}
            </span>
          </h3>
        </div>
      </div>
    </div>
    <div class="col-lg-6" style="padding-left: 0px;">
      <div class="card" style="border-top-left-radius: 0px;border-bottom-left-radius: 0px;">
        <img style="width: 100%; height: 600px;border-top-right-radius: 8px;border-bottom-right-radius: 8px;"
          src="./assets/media/patterns/Hakkimizda.jpg" />
      </div>
    </div>
  </div>
</section>
<section id="options" class="mx-10">
  <div class="row px-10 pt-10">
    <div class="col-lg-6" style="padding-right: 0px;">
      <div class="card" style="height: 247px;">
        <div class="card-header">
          <h3 class="card-title align-items-start flex-column py-3">
            <span class="fw-bolder text-primary">{{ 'SHORTCUT_FIRST_HEADER' | translate }}</span>
          </h3>
        </div>
        <div class="card-body">
          <h3 class="card-title flex-column py-5">
            <span class="text-light-primary mt-3 fw-bold fs-sm">
              {{ 'SHORTCUT_FIRST_CONTENT' | translate }}
            </span>
          </h3>
          <div class="text-center">
            <a (click)="goToSignUp()" class="btn btn-custom btn-active-white btn-color-white btn-primary w-100"
              data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
              <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr013.svg'" class="svg-icon svg-icon-2"></span>
              {{ 'CREATE_MEMORY' | translate }}
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6" style="padding-right: 0px;">
      <div class="card" style="height: 247px;">
        <div class="card-header">
          <h3 class="card-title align-items-start flex-column py-3">
            <span class="fw-bolder text-primary">{{ 'SHORTCUT_SECOND_HEADER' | translate }}</span>
          </h3>
        </div>
        <div class="card-body">
          <h3 class="card-title flex-column py-5">
            <span class="text-light-primary mt-3 fw-bold fs-sm">
              {{ 'SHORTCUT_SECOND_CONTENT' | translate }}
            </span>
          </h3>
          <div class="text-center">
            <a (click)="goToMemories()" class="btn btn-custom btn-active-white btn-color-white btn-primary w-100"
              data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
              <span [inlineSVG]="'./assets/media/icons/duotune/general/gen006.svg'" class="svg-icon svg-icon-2"></span>
              {{ 'MEMORIES' | translate }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="gift" class="mx-10">
  <!-- <div class="row px-10 pt-10">
    <div class="col-lg-6">
      <span class="badge fs-5 fw-bolder me-auto px-4 py-3 badge-primary text-white">
        <a class="fw-bolder text-white">
            <img alt="Logo" src="./assets/media/logos/logo-2.png" class="bg-primary h-25px" style="padding: 5px !important;"/>
            &nbsp;{{ 'VOUCHERS' | translate}}
          </a>
      </span>
    </div>
  </div> -->
  <div class="row px-10 py-10">
    <div class="col-lg-6" style="padding-right: 0px;">
      <div class="card bg-primary" style="height: 400px !important; border-top-right-radius: 0px;border-bottom-right-radius: 0px;">
        <div class="card-header">
          <h3 class="card-title align-items-start flex-column">
            <span (click)="goToStandBy()" class="cursor-pointer fw-bolder text-white">{{ 'STANDBY_HEADER' | translate }}</span>
          </h3>
        </div>
        <div class="card-body">
          <h3 class="card-title flex-column mx-2 mt-5 mb-20" style="height: 85px;">
            <span class="text-white mt-3 fw-bold fs-sm mb-20">
              {{ 'STANDBY_CONTENT' | translate }}
            </span>
          </h3>
        </div>
      </div>
    </div>
    <div class="col-lg-6" style="padding-left: 0px;">
      <div class="card" style="border-top-left-radius: 0px;border-bottom-left-radius: 0px;">
        <img style="width: 100%; height: 400px;border-top-right-radius: 8px;border-bottom-right-radius: 8px;"
          src="./assets/media/patterns/giftvoucher.jpg" />
      </div>
    </div>
  </div>
</section>