<app-modal #modal [modalConfig]="modalConfig">
    <form class="form w-100" [formGroup]="form" novalidate="novalidate">
        <div class="row mb-8">
            <div class="col-lg-12">
                <label class="form-label fs-6 fw-bolder text-primary">
                    {{'LINK' | translate}}
                </label>
                <input class="form-control bg-transparent text-light-primary" type="text" name="link"
                    formControlName="link" />
            </div>
        </div>
    </form>
</app-modal>