<div class="container-xxl py-10 py-lg-15">
  <div class="card">
    <div class="card-body p-8 p-lg-12">

      <div class="text-center mb-10">
        <h1 class="fw-bold text-gray-900 fs-2hx">
          {{ 'COOKIE_POLICY.PAGE_TITLE' | translate }}
        </h1>
      </div>

      <div class="legal-content">

        <section class="mb-8">
          <h2>{{ 'COOKIE_POLICY.SECTION_1_TITLE' | translate }}</h2>
          <p>{{ 'COOKIE_POLICY.SECTION_1_TEXT' | translate }}</p>
        </section>

        <section class="mb-8">
          <h2>{{ 'COOKIE_POLICY.SECTION_2_TITLE' | translate }}</h2>
          <p>{{ 'COOKIE_POLICY.SECTION_2_TEXT' | translate }}</p>
        </section>

        <section class="mb-8">
          <h2>{{ 'COOKIE_POLICY.SECTION_3_TITLE' | translate }}</h2>
          <p>{{ 'COOKIE_POLICY.SECTION_3_TEXT' | translate }}</p>

          <ul>
            <li>{{ 'COOKIE_POLICY.PURPOSE_1' | translate }}</li>
            <li>{{ 'COOKIE_POLICY.PURPOSE_2' | translate }}</li>
            <li>{{ 'COOKIE_POLICY.PURPOSE_3' | translate }}</li>
          </ul>
        </section>

        <section class="mb-8">
          <h2>{{ 'COOKIE_POLICY.SECTION_4_TITLE' | translate }}</h2>

          <ul>
            <li>{{ 'COOKIE_POLICY.COOKIE_TYPE_1' | translate }}</li>
            <li>{{ 'COOKIE_POLICY.COOKIE_TYPE_2' | translate }}</li>
          </ul>
        </section>

        <section class="mb-8">
          <h2>{{ 'COOKIE_POLICY.SECTION_5_TITLE' | translate }}</h2>
          <p>{{ 'COOKIE_POLICY.SECTION_5_TEXT_1' | translate }}</p>
          <p>{{ 'COOKIE_POLICY.SECTION_5_TEXT_2' | translate }}</p>
        </section>

        <section>
          <h2>{{ 'COOKIE_POLICY.SECTION_6_TITLE' | translate }}</h2>
          <p>
            {{ 'COOKIE_POLICY.SECTION_6_TEXT_1' | translate }}
            <a href="mailto:info@styever.com">info&#64;styever.com</a>
            {{ 'COOKIE_POLICY.SECTION_6_TEXT_2' | translate }}
          </p>
        </section>

      </div>

    </div>
  </div>
</div>