<form
  class="form w-100"
  novalidate="novalidate"
  [formGroup]="resetPasswordForm"
  (ngSubmit)="submit()"
  id="kt_login_password_reset_form"
>
<div class="text-center mb-10 flex-grow-1 flex-lg-grow-0" routerLink="/home">
  <img alt="Logo" src="./assets/media/logos/icon.png" class="h-150px w-150px" style="border-radius: 20px;"/>
</div>
  <!--begin::Heading-->
  <div class="text-center mb-5">
    <!--begin::Title-->
    <h1 class="text-primary fw-bolder mt-5">
        {{"RESET_PASSWORD" | translate}}
    </h1>
    <!--end::Title-->

    <!--begin::Link-->
    <div class="text-light-primary fw-semibold fs-6">
        {{"RESET_PASSWORD_SUBHEADER" | translate}}
    </div>
    <!--end::Link-->
</div>
<!--begin::Heading-->

  <!-- begin::Alert error-->
  <ng-container *ngIf="errorState === errorStates.HasError">
    <div class="mb-lg-15 alert alert-danger">
      <div class="alert-text font-weight-bold">
        {{"RESET_PASSWORD_ERROR" | translate}}
      </div>
    </div>
  </ng-container>
  <!-- end::Alert error-->

  <ng-container *ngIf="errorState === errorStates.NoError">
    <div class="mb-10 bg-light-success p-8 rounded">
      <!--begin::Body-->
      <div class="text-success">{{"RESET_PASSWORD_SUCCESS" | translate}}</div>
      <!--end::Body-->
    </div>
  </ng-container>

  <!--begin::Form group-->
  <div class="fv-row mb-8">
    <div class="fv-row mb-8">
      <label class="form-label fw-bolder text-primary fs-6">{{"PASSWORD" | translate}}</label>
      <input class="form-control bg-transparent text-light-primary" type="password" placeholder="{{'PASSWORD' | translate}}" name="password"
        formControlName="password" autocomplete="off" [ngClass]="{
          'is-invalid': resetPasswordForm.controls['password'].invalid,
          'is-valid': resetPasswordForm.controls['password'].valid
        }" />
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'PASSWORD_REQUIRED' | translate,
          control: resetPasswordForm.controls['password']
        }"></ng-container>
    </div>
    <!--end::Form group-->
  
    <!--begin::Form group-->
    <div class="fv-row mb-8">
      <label class="form-label fw-bolder text-primary fs-6">{{"CONFIRM_PASSWORD" | translate}}</label>
      <input class="form-control bg-transparent text-light-primary" type="password" placeholder="{{'CONFIRM_PASSWORD' | translate}}" name="cPassword"
        autocomplete="off" formControlName="cPassword" [ngClass]="{
          'is-invalid': resetPasswordForm.controls['cPassword'].invalid,
          'is-valid': resetPasswordForm.controls['cPassword'].valid
        }" />
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: ('CONFIRM_PASSWORD' | translate) + ' ' + ('IS_REQUIRED' | translate),
          control: resetPasswordForm.controls['cPassword']
        }"></ng-container>
      <ng-container *ngIf="
        resetPasswordForm.controls['cPassword'].errors &&
          resetPasswordForm.controls['cPassword'].errors.ConfirmPassword
        ">
        <div class="fv-plugins-message-container">
          <div class="fv-help-block">
            {{'NOMATCH_PASSWORD' | translate}}
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <!--end::Form group-->
  <!--begin::Form group-->
  <div class="d-flex flex-wrap justify-content-center pb-lg-0">
    <button
      type="submit"
      id="kt_password_reset_submit"
      class="btn btn-primary me-4"
    >
      <span class="indicator-label">{{"SUBMIT" | translate}}</span>
      <ng-container *ngIf="isLoading$ | async">
        <span class="indicator-progress">
          {{"PLEASEWAIT" | translate}}
          <span
            class="spinner-border spinner-border-sm align-middle ms-2"
          ></span>
        </span>
      </ng-container>
    </button>
    <a
      routerLink="/auth/login"
      id="kt_login_password_reset_form_cancel_button"
      class="btn btn-light"
    >
      {{"CANCEL" | translate}}
    </a>
  </div>
  <!--end::Form group-->
</form>
<!--end::Form-->

<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert">{{ message }}</span>
      </div>
    </div>
  </ng-container>
</ng-template>
