<app-confirmation #deleteConfirmationComponent (dismissButtonClick)="delete($event)">
</app-confirmation>

<div class="row">
    <div class="col-xxl-9">
        <div class="card card-xxl-stretch mb-5 mb-xl-8">
            <div class="card-header border-0 pt-5">
                <h3 class="card-title align-items-start flex-column">
                    <span class="card-label fw-bolder fs-3 mb-1">{{'MY_BASKET' | translate}} ({{basket.length}} {{'PRODUCT' | translate}})</span>
                </h3>
            </div>
            <div class="card-body py-3">
                <div *ngIf="!currentUserIsExist" class="alert alert-warning" role="alert">
                    {{'TO_COMPLETE_YOUR_SHOPPING_FASTER' | translate}} <a href="/auth/login"> {{'AUTH.LOGIN.BUTTON' | translate}} </a>
                </div>
                
                <div class="table-responsive">
                    <!-- begin::Table -->
                    <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
                        <thead></thead>
                        <tbody>
                            <ng-container *ngFor="let item of basket; let i=index">
                                <tr>
                                    <td>
                                        <div class="d-flex justify-content-start flex-column">
                                            <a class="text-gray-900 fw-bolder text-hover-primary fs-6">
                                                <img [src]="item.product?.fileResult.fileContents"
                                                    style="height: 8.75rem; width: auto;">
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-start flex-column">
                                            <a class="text-gray-900 fw-bolder text-hover-primary fs-6">
                                                {{item.product?.name}}
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-start flex-column">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <a (click)="deleteOne(item.productId)"
                                                            class="btn btn-icon btn-bg-light btn-active-color-primary"
                                                            style="border-radius: 0px;">
                                                            <span
                                                                [inlineSVG]="'./assets/media/icons/duotune/arrows/arr090.svg'"
                                                                class="svg-icon svg-icon-3"></span>
                                                        </a>
                                                    </div>
                                                    <input type="text" disabled="disabled"
                                                        class="form-control bg-transparent"
                                                        style="text-align:center; max-width: 60px;"
                                                        value={{item.numberOf}}>
                                                    <div (click)="addOne(item.productId)" class="input-group-append">
                                                        <a class="btn btn-icon btn-bg-light btn-active-color-primary"
                                                            style="border-radius: 0px;">
                                                            <span
                                                                [inlineSVG]="'./assets/media/icons/duotune/arrows/arr075.svg'"
                                                                class="svg-icon svg-icon-3"></span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-start flex-column">
                                            <a class="fw-bolder text-primary-900 fs-6">
                                                {{item.totalPrice?.toFixed(2)}} ₺
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <a (click)="openDeleteModal(item.productId)" class="
                                btn btn-icon btn-bg-light btn-active-color-danger btn-sm
                            ">
                                            <span [inlineSVG]="
                                './assets/media/icons/duotune/general/gen027.svg'
                                " class="svg-icon svg-icon-3"></span>
                                        </a>
                                    </td>
                                </tr>
                            </ng-container>
                            <tr *ngIf="basket.length == 0">
                                <div class="row" style="margin-right: 0px; margin-left: 0px;">
                                    <div class="col-xxl-8">
                                        <h3>{{'YOUR_BASKET_EMPTY' | translate}}</h3>
                                    </div>

                                    <div class="col-xxl-4">
                                        <button type="button" (click)="routeToShopping()"
                                            class="btn btn-light-primary btn-lg" style="float: right;">
                                            <ng-container>
                                                <span class="indicator-label">{{'CONTINUE_SHOPPING' | translate}}</span>
                                            </ng-container>
                                        </button>
                                    </div>
                                </div>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-3">
        <div class="card card-xxl-stretch mb-5 mb-xl-8">
            <div class="card-header border-0 pt-5">
                <h3 class="card-title align-items-start flex-column">
                    <span class="card-label fw-bolder fs-3 mb-1">{{'ORDER_SUMMARY' | translate}}</span>
                </h3>
            </div>
            <div class="card-body py-3">
                <table class="table">
                    <tr>
                        <td style="width: 150px;">
                            <div class="d-flex justify-content-start flex-column">
                                <a class="text-gray-900 text-hover-primary fs-6">
                                    {{'TOTAL_OF_THE_PRODUCTS' | translate}}
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-start flex-column">
                                <a class="text-gray-900 fw-bolder text-hover-primary fs-6">
                                    {{totalPrice.toFixed(2)}} ₺
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr class="table-row-dashed">
                        <td style="width: 150px;">
                            <div class="d-flex justify-content-start flex-column">
                                <a class="text-gray-900 text-hover-primary fs-6">
                                    {{'SHIPPING_TOTAL' | translate}}
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-start flex-column">
                                <a class="text-gray-900 fw-bolder text-hover-primary fs-6">
                                    0.00 ₺
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="separator border-gray-200"></div>
                        </td>
                    </tr>
                    <tr class="table-row-dashed">
                        <td style="width: 150px;">
                            <div class="d-flex justify-content-start flex-column">
                                <a class="text-gray-900 text-hover-primary fs-6">
                                    {{'TOTAL' | translate}}
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-start flex-column">
                                <a class="text-gray-900 fw-bolder text-hover-primary fs-6">
                                    {{totalPrice.toFixed(2)}} ₺
                                </a>
                            </div>
                        </td>
                    </tr>
                </table>
                <button type="button" (click)="confirmBasket()" class="btn btn-light-primary btn-lg"
                    style="width: 100%;">
                    <ng-container>
                        <span class="indicator-label">{{'CONFIRM_BASKET' | translate}}</span>
                    </ng-container>
                </button>
            </div>
        </div>
    </div>
</div>