<div class="container-xxl py-10 py-lg-15">
  <div class="card">
    <div class="card-body p-8 p-lg-12">

      <div class="text-center mb-10">
        <h1 class="fw-bold text-gray-900 fs-2hx">
          {{ 'LEGAL_WARNING.PAGE_TITLE' | translate }}
        </h1>
      </div>

      <div class="legal-content">

        <section class="mb-8">
          <h2>{{ 'LEGAL_WARNING.SECTION_1_TITLE' | translate }}</h2>
          <p>{{ 'LEGAL_WARNING.SECTION_1_TEXT_1' | translate }}</p>
          <p>{{ 'LEGAL_WARNING.SECTION_1_TEXT_2' | translate }}</p>
        </section>

        <section class="mb-8">
          <h2>{{ 'LEGAL_WARNING.SECTION_2_TITLE' | translate }}</h2>
          <p>{{ 'LEGAL_WARNING.SECTION_2_TEXT_1' | translate }}</p>
          <p>{{ 'LEGAL_WARNING.SECTION_2_TEXT_2' | translate }}</p>
          <p>{{ 'LEGAL_WARNING.SECTION_2_TEXT_3' | translate }}</p>
        </section>

        <section class="mb-8">
          <h2>{{ 'LEGAL_WARNING.SECTION_3_TITLE' | translate }}</h2>
          <p>
            {{ 'LEGAL_WARNING.SECTION_3_TEXT_1' | translate }}
            <a href="mailto:infostyever.com">info&#64;styever.com</a>
            {{ 'LEGAL_WARNING.SECTION_3_TEXT_2' | translate }}
          </p>
        </section>

        <section class="mb-8">
          <h2>{{ 'LEGAL_WARNING.SECTION_4_TITLE' | translate }}</h2>

          <p>{{ 'LEGAL_WARNING.SECTION_4_INTRO' | translate }}</p>

          <ul>
            <li>{{ 'LEGAL_WARNING.LIMIT_1' | translate }}</li>
            <li>{{ 'LEGAL_WARNING.LIMIT_2' | translate }}</li>
            <li>{{ 'LEGAL_WARNING.LIMIT_3' | translate }}</li>
            <li>{{ 'LEGAL_WARNING.LIMIT_4' | translate }}</li>
          </ul>
        </section>

        <section class="mb-8">
          <h2>{{ 'LEGAL_WARNING.SECTION_5_TITLE' | translate }}</h2>
          <p>{{ 'LEGAL_WARNING.SECTION_5_TEXT' | translate }}</p>
        </section>

        <section>
          <h2>{{ 'LEGAL_WARNING.SECTION_6_TITLE' | translate }}</h2>
          <p>{{ 'LEGAL_WARNING.SECTION_6_TEXT' | translate }}</p>
        </section>

      </div>

    </div>
  </div>
</div>