<app-modal #modal [modalConfig]="modalConfig">
    <form class="form w-100" [formGroup]="form" novalidate="novalidate">
        <div class="row mb-8">
            <div class="col-xxl-4">
                <div class="card card-xl-stretch mb-xl-8">
                    <div class="card-body py-3">
                        <div class="mb-2" style="text-align: center; height: 200px;">
                            <img [src]="fileResult?.fileContents" style="height: 10.75rem; width: 100%; border: 0px !important;">
                        </div>
                        <div *ngIf="isUploadSuccess">
                            <ngb-alert type="success" (closed)="uploadSuccessDialogClose()">
                                {{'OPERATION_COMPLETED' | translate}}
                            </ngb-alert>
                        </div>
                        <div *ngIf="isUploadError">
                            <ngb-alert type="warning" (closed)="uploadErrorDialogClose()">
                                {{'UPLOAD_IMAGE_330x330' | translate}}
                            </ngb-alert>
                        </div>
                        <div style="text-align: center;">
                            <input type="file" style="display:none" accept="image/*" (change)="onFileChange($event)" #fileUpload/>
                            <a style="width: 100%;" title="Click to Add" class="btn btn-sm btn-light-primary" (click)="fileUpload.click()">
                                <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr075.svg'"
                                    class="svg-icon svg-icon-3"></span>
                                {{fileResult == undefined ? ('UPLOAD' | translate) : ('CHANGE' | translate)}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-8">
                <div class="fv-row mb-8">
                    <label class="form-label fs-6 fw-bolder text-gray-900">
                        {{'CATEGORY' | translate}}
                    </label>
                    <select name="categoryId" formControlName="categoryId" autocomplete="off"
                      class="form-select form-select-solid form-select-lg fw-bold"
                      [ngClass]="{
                        'is-invalid': form.controls['categoryId'].invalid,
                        'is-valid': form.controls['categoryId'].valid
                      }"
                    >
                        <option value="">{{'SELECT_CATEGORY' | translate}}</option>
                        <ng-container *ngFor="let item of categories">
                            <option value={{item.id}}>{{item.name}}</option>
                        </ng-container>
                    </select>

                    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                        validation: 'required',
                        message: ('CATEGORY' | translate) + ' ' + ('IS_REQUIRED' | translate),
                        control: form.controls['categoryId']
                      }"></ng-container>
                  </div>

                <div class="fv-row mb-8">
                    <label class="form-label fs-6 fw-bolder text-gray-900">
                        {{'NAME' | translate}}
                    </label>
                    <input class="form-control bg-transparent" type="text" name="name" formControlName="name" autocomplete="off"
                        [ngClass]="{
                        'is-invalid': form.controls['name'].invalid,
                        'is-valid': form.controls['name'].valid
                      }" />
                    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                        validation: 'required',
                        message: ('NAME' | translate) + ' ' + ('IS_REQUIRED' | translate),
                        control: form.controls['name']
                      }"></ng-container>
                </div>

                <div class="fv-row mb-8">
                    <label class="form-label fs-6 fw-bolder text-gray-900">
                        {{'BRAND' | translate}}
                    </label>
                    <input class="form-control bg-transparent" type="text" name="brand" formControlName="brand" autocomplete="off"/>
                </div>
        
                <div class="fv-row mb-8">
                    <label class="form-label fs-6 fw-bolder text-gray-900">
                        {{'PRICE' | translate}}
                    </label>
                    <input class="form-control bg-transparent" type="number" name="price" formControlName="price" autocomplete="off"
                        [ngClass]="{
                        'is-invalid': form.controls['price'].invalid,
                        'is-valid': form.controls['price'].valid
                      }" />
                    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                        validation: 'required',
                        message: ('PRICE' | translate) + ' ' + ('IS_REQUIRED' | translate),
                        control: form.controls['price']
                      }"></ng-container>
                </div>

                <div class="fv-row mb-8">
                    <label class="form-label fs-6 fw-bolder text-gray-900">
                        {{'DISCOUNT_PERCENTAGE' | translate}}
                    </label>
                    <input class="form-control bg-transparent" type="number" name="sale" formControlName="sale" autocomplete="off"/>
                </div>

                <div class="fv-row mb-8">
                    <label class="form-label fs-6 fw-bolder text-gray-900">
                        {{'DISCOUNTED_PRICE' | translate}}
                    </label>
                    <input class="form-control bg-transparent" type="number" name="discountedPrice" formControlName="discountedPrice" autocomplete="off" />
                </div>

                <div class="fv-row mb-8">
                    <label class="form-label fs-6 fw-bolder text-gray-900">
                        {{'STOCK' | translate}}
                    </label>
                    <input class="form-control bg-transparent" type="number" name="stock" formControlName="stock" autocomplete="off" [ngClass]="{
                        'is-invalid': form.controls['stock'].invalid,
                        'is-valid': form.controls['stock'].valid
                      }" />
                    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                        validation: 'required',
                        message: ('STOCK' | translate) + ' ' + ('IS_REQUIRED' | translate),
                        control: form.controls['stock']
                      }"></ng-container>
                </div>

                <div class="fv-row mb-8">
                    <label class="form-label fs-6 fw-bolder text-gray-900">
                        {{'DESCRIPTION' | translate}}
                    </label>
                    <textarea class="form-control bg-transparent" type="text" name="description" formControlName="description" autocomplete="off"></textarea>
                </div>
            </div>
        </div>
    </form>

    <ng-template #formError let-control="control" let-message="message" let-validation="validation">
        <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
            <div class="fv-plugins-message-container">
                <span role="alert">
                    {{ message }}
                </span>
            </div>
        </ng-container>
    </ng-template>
</app-modal>