<app-modal #modal [modalConfig]="modalConfig">
    <div class="candle-wrapper" [class.lit]="true">
        <div class="flame"></div>
        <div class="wick"></div>
        <div class="wax"></div>
    </div>

    <p class="text-center text-light-primary mt-4">
        <strong>{{ form.get('name')?.value }}</strong> anısına<br>
        <span>
            {{ form.get('shelter')?.value }} derneğine sosyal sorumluluk payı desteği yapılacaktır
        </span>
    </p>

    <form class="form w-100" [formGroup]="form" novalidate="novalidate">
        <div class="row mb-8" *ngIf="form.get('userId')?.value == undefined">
            <div class="col-lg-12">
                <label class="form-label fs-6 fw-bolder text-primary">
                    {{'FULL_NAME' | translate}}
                </label>
                <input class="form-control bg-transparent text-light-primary" type="text" name="nameSurname"
                    formControlName="nameSurname" />
            </div>
        </div>
        <div class="row mb-8">
            <div class="col-lg-12">
                <label class="form-label fs-6 fw-bolder text-primary">
                    {{'DONATION' | translate}}

                    <i class="bi bi-info-circle ms-2 text-primary cursor-pointer" style="font-size: 14px;"
                        data-bs-toggle="popover" data-bs-trigger="click" data-bs-placement="top" data-bs-html="true"
                        [attr.data-bs-content]="'DONATION_POPOVER' | translate"></i>
                </label>
                <input class="form-control bg-transparent text-light-primary" type="number" step="0.5" name="donation"
                    formControlName="donation" />
            </div>
        </div>
    </form>
</app-modal>