.image {
    width: 300px;
    height: 300px;
    border-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.action-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.social-center {
  display: flex;
  align-items: center;
  gap: 16px;
}

.social-icon {
  font-size: 20px;
  color: var(--bs-primary);
  cursor: pointer;
}

.candle-modal {
  text-align: center;
}

.candle-wrapper {
  position: relative;
  width: 30px;
  height: 100px;
  margin: 0 10;
  opacity: 0.4;
  transition: opacity 0.4s ease;
}

.candle-wrapper.lit {
  opacity: 1;
}

.candle-text-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.candle-text {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.wax {
  width: 100%;
  height: 100px;
  background: var(--bs-primary);
  border-radius: 10px;
}

.wick {
  position: absolute;
  top: -10px;
  left: 50%;
  width: 4px;
  height: 10px;
  background: #333;
  transform: translateX(-50%);
}

.flame {
  position: absolute;
  top: -40px;
  left: 50%;
  width: 20px;
  height: 40px;
  background: radial-gradient(circle, #ffdd55, #ff6600);
  border-radius: 50%;
  transform: translateX(-50%) scale(0);
  opacity: 0;
}

.candle-wrapper.lit .flame {
  animation: flameFlicker 1s infinite;
  opacity: 1;
  transform: translateX(-50%) scale(1);
}

@keyframes flameFlicker {
  0% { transform: translateX(-50%) scale(1); }
  50% { transform: translateX(-50%) scale(1.1); }
  100% { transform: translateX(-50%) scale(1); }
}
