<div [ngStyle]="{'height.px': bannerHeight}">
  <div class="row mx-10" [ngStyle]="{'padding-top.px': bannerToolPaddingTopHeight}">
    <div class="col-lg-9">
    </div>
    <div class="col-lg-3">
      <a (click)="goToMemories()"
        class="btn btn-custom btn-active-white btn-color-white btn-primary w-100 fs-4 fw-bolder"
        data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
        <span [inlineSVG]="'./assets/media/icons/duotune/general/gen006.svg'" class="svg-icon svg-icon-2 me-1"></span>
        {{ 'SEARCH_PETS' | translate }}
      </a>
    </div>
  </div>
</div>

<div class="row mx-10 my-10">
  <div class="card">
    <div class="card-body pt-2">
      <div class="row">
        <div class="col-lg-3">
          <div style="height: 250px;">
            <qrcode style="float: left !important;" [qrdata]="shareLink" [width]="250" [errorCorrectionLevel]="'M'">
            </qrcode>
          </div>
          <div *ngIf="memory?.candlesCount! > 0" class="separator mt-5 mb-5"></div>
          <div *ngIf="memory?.candlesCount! > 0" class="candle-text-wrapper">
            <div class="candle-wrapper" [class.lit]="true">
              <div class="flame"></div>
              <div class="wick"></div>
              <div class="wax"></div>
            </div>

            <a class="candle-text" (click)="openCandlesModal(memory?.id!, memory?.candlesCount!)">
              <div class="fw-bolder text-primary fs-3">
                {{ 'CANDLE_COUNT' | translate}}
              </div>
              <div class="fw-bolder text-light-primary fs-4">{{memory?.candlesCount}}</div>
            </a>
          </div>
        </div>
        <div class="col-lg-7">
          <app-carousel [isEdit]="false" [youtubeLinks]="memory?.youtubeLinks!" [files]="memory?.files!"></app-carousel>
        </div>
        <div class="col-lg-2">
          <a *ngIf="currentUser && currentUser?.id == memory?.userId && isUserActive && !memory?.belongingToOldPackage" (click)="edit()" style="float: right !important"
            class="btn btn-custom btn-active-white btn-color-white btn-primary w-100">
            <span [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'" class="svg-icon svg-icon-2"></span>
            {{'EDIT' | translate}}
          </a>
        </div>

        <div class="col-lg-5 mt-10">
          <label class="form-label fs-4 fw-bolder text-primary">{{'POST_DATE' | translate}}</label>
        </div>
        <div *ngIf="memory?.hasDonation" class="col-lg-2 mt-10 text-center" title="{{ 'BADGE' | translate}}">
          <i class="fa-solid fa-ribbon text-primary fs-1"></i>
        </div>
        <div class="col-lg-5 mt-10">
          <label class="form-label fs-4 fw-bolder text-primary" style="float: right;">{{'DEATH_DATE' |
            translate}}</label>
          <label class="form-label fs-4 fw-bolder text-primary me-10" style="float: right;">{{'BIRTH_DATE' |
            translate}}</label>
        </div>
        <div class="col-lg-6">
          <label class="form-label fs-4 text-light-primary">{{memory?.postDate}}</label>
        </div>
        <div class="col-lg-6">
          <label class="form-label text-light-primary fs-4" style="float: right;">{{memory?.deathDate}}</label>
          <label class="form-label text-light-primary fs-4 me-10" style="float: right;">{{memory?.birthDate}}</label>
        </div>
        <div class="col-lg-12 mt-10">
          <label class="form-label fs-2 fw-bolder text-primary fs-4">{{memory?.name}}</label>
        </div>
        <div class="col-lg-12">
          <label class="form-label fs-3 text-light-primary fs-4">{{memory?.text}}</label>
        </div>
        <div class="separator mt-5"></div>
        <div class="py-5 action-bar">
          <a *ngIf="currentUser && memory?.isOpenToComment" (click)="showCloseCommentBox()"
            class="text-primary fs-4 fw-bolder cursor-pointer me-2">{{'COMMENT' | translate}}</a>

          <div class="social-center">
            <a (click)="shareLinkedIn()" title="{{ 'SHARE' | translate}}" class="cursor-pointer me-2">
              <i class="fa-brands fa-linkedin text-primary fs-2"></i>&nbsp;
            </a>

            <a (click)="shareX()" title="{{ 'SHARE' | translate}}" class="cursor-pointer me-2">
              <i class="fa-brands fa-x text-primary fs-2"></i>&nbsp;
            </a>

            <a (click)="shareFacebook()" title="{{ 'SHARE' | translate}}" class="cursor-pointer me-2">
              <i class="fa-brands fa-facebook text-primary fs-2"></i>&nbsp;
            </a>
          </div>

          <div>
            <a (click)="openLikesModal(memory?.id!, memory?.likesCount!)"
              class="text-primary fs-3 fw-bolder cursor-pointer me-2" style="float: right;">{{memory?.likesCount}}</a>

            <a title="{{ 'LIKE' | translate}}" (click)="like()" class="text-primary cursor-pointer" style="float: right;"><i
                [ngClass]="memory?.ownLike! ? 'bi bi-heart-fill' : 'bi bi-heart'"
                class="fs-2 text-primary me-2"></i></a>

            <a (click)="openCommentsModal(memory?.id!, memory?.commentsCount!)"
              class="text-primary fs-3 fw-bolder cursor-pointer me-2"
              style="float: right;">{{memory?.commentsCount}}</a>

            <a title="{{ 'COMMENT' | translate}}" class="text-primary cursor-pointer" style="float: right;"><i
                class="bi fs-2 bi-chat me-2 text-primary"></i></a>

            <a *ngIf="currentUser && isUserActive" title="{{ 'LIGHT_CANDLE' | translate}}" (click)="openLightCandleModal(memory?.id!)" class="text-primary cursor-pointer" style="float: right;">
              <i class="fa-solid fa-hanukiah fs-2 me-2 text-primary"></i>
            </a>
          </div>
        </div>
        <div class="separator mb-5"></div>
        <div class="row mb-5"
          *ngIf="memory?.userId !== currentUser?.id && isCommentBoxVisible && memory?.isOpenToComment">
          <div class="col-lg-4"></div>
          <div class="col-lg-8" style="float: right;">
            <textarea class="form-control bg-transparent text-light-primary" type="text" name="comment"
              [(ngModel)]="comment"></textarea>
          </div>
        </div>
        <div class="row" *ngIf="isCommentBoxVisible && memory?.isOpenToComment && isUserActive">
          <div class="col-lg-6"></div>
          <div class="col-lg-6" style="float: right;">
            <a (click)="addComment()" class="btn btn-custom btn-active-white btn-color-white btn-primary w-50"
              style="float: right;">
              {{'SUBMIT' | translate}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-memory-comment #commentsComponent (isSuccess)="isSuccess($event)"></app-memory-comment>
<app-memory-like #likesComponent></app-memory-like>
<app-memory-candlelist #candlesComponent></app-memory-candlelist>
<app-memory-lightcandle #lightCandleComponent (isSuccess)="isSuccess($event)"></app-memory-lightcandle>