<div [ngStyle]="{'height.px': bannerHeight}">
  <div class="row mx-10" [ngStyle]="{'padding-top.px': bannerToolPaddingTopHeight}">
    <div class="col-lg-9">
    </div>
    <div class="col-lg-3">
      <a (click)="goToMemories()"
        class="btn btn-custom btn-active-white btn-color-white btn-primary w-100 fs-4 fw-bolder"
        data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
        <span [inlineSVG]="'./assets/media/icons/duotune/general/gen006.svg'" class="svg-icon svg-icon-2 me-1"></span>
        {{ 'SEARCH_PETS' | translate }}
      </a>
    </div>
  </div>
</div>

<div class="row mx-10 my-10">
  <div class="card">
    <div class="card-body pt-2">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <app-carousel [isEdit]="false" [files]="memory?.files!"></app-carousel>
        </div>
        <div class="col-lg-2 mx-0 px-0">
          <a (click)="edit()" class="btn btn-custom btn-active-white btn-color-white btn-primary"
              style="float: right;">
                <span [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'" class="svg-icon svg-icon-2"></span>
              {{'EDIT' | translate}}
            </a>
        </div>

        <div class="col-lg-6 mt-10">
          <label class="form-label fs-4 fw-bolder text-primary">{{'POST_DATE' | translate}}</label>
        </div>
        <div class="col-lg-6 mt-10">
          <label class="form-label fs-4 fw-bolder text-primary" style="float: right;">{{'DEATH_DATE' |
            translate}}</label>
          <label class="form-label fs-4 fw-bolder text-primary me-10" style="float: right;">{{'BIRTH_DATE' |
            translate}}</label>
        </div>
        <div class="col-lg-6">
          <label class="form-label fs-4 text-light-primary">{{memory?.postDate}}</label>
        </div>
        <div class="col-lg-6">
          <label class="form-label text-light-primary fs-4" style="float: right;">{{memory?.deathDate}}</label>
          <label class="form-label text-light-primary fs-4 me-10" style="float: right;">{{memory?.birthDate}}</label>
        </div>
        <div class="col-lg-12 mt-10">
          <label class="form-label fs-2 fw-bolder text-primary fs-4">{{memory?.name}}</label>
        </div>
        <div class="col-lg-12">
          <label class="form-label fs-3 text-light-primary fs-4">{{memory?.text}}</label>
        </div>
        <div class="separator mt-5"></div>
        <div class="py-5" style="height: 50px;">
          <a *ngIf="memory?.isOpenToComment" (click)="showCloseCommentBox()"
            class="text-primary fs-4 fw-bolder cursor-pointer me-2" style="float: left;">{{'COMMENT' | translate}}</a>
          <a (click)="openLikesModal(memory?.id!, memory?.likesCount!)"
            class="text-primary fw-bolder cursor-pointer me-2" style="float: right;">{{memory?.likesCount}}</a>
          <a (click)="like()" class="text-primary cursor-pointer" style="float: right;"><i
              [ngClass]="memory?.ownLike! ? 'text-primary' : ''"
              class="bi fs-4 bi-heart-fill me-2 text-primary"></i></a>
          <a (click)="openCommentsModal(memory?.id!, memory?.commentsCount!)"
            class="text-primary fw-bolder cursor-pointer me-2" style="float: right;">{{memory?.commentsCount}}</a>
          <a class="text-primary cursor-pointer" style="float: right;"><i
              class="bi fs-4 bi-chat me-2 text-primary"></i></a>
        </div>
        <div class="separator mb-5"></div>
        <div class="row mb-5"
          *ngIf="memory?.userId !== currentUser?.id && isCommentBoxVisible && memory?.isOpenToComment">
          <div class="col-lg-4"></div>
          <div class="col-lg-8" style="float: right;">
            <textarea class="form-control bg-transparent text-light-primary" type="text" name="comment" [(ngModel)]="comment"></textarea>
          </div>
        </div>
        <div class="row" *ngIf="memory?.userId !== currentUser?.id && isCommentBoxVisible && memory?.isOpenToComment">
          <div class="col-lg-6"></div>
          <div class="col-lg-6" style="float: right;">
            <a (click)="addComment()" class="btn btn-custom btn-active-white btn-color-white btn-primary w-50"
              style="float: right;">
              {{'SUBMIT' | translate}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-memory-comment #commentsComponent (isSuccess)="isSuccess($event)"></app-memory-comment>
<app-memory-like #likesComponent></app-memory-like>