<div [ngStyle]="{'height.px': bannerHeight}">
  <div class="row mx-10" [ngStyle]="{'padding-top.px': bannerToolPaddingTopHeight}">
    <div class="col-lg-9">
    </div>
    <div class="col-lg-3">
      <a (click)="goToMemories()"
        class="btn btn-custom btn-active-white btn-color-white btn-primary w-100 fs-4 fw-bolder"
        data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
        <span [inlineSVG]="'./assets/media/icons/duotune/general/gen006.svg'" class="svg-icon svg-icon-2 me-1"></span>
        {{ 'SEARCH_PETS' | translate }}
      </a>
    </div>
  </div>
</div>
<div class="row mx-10 my-10">
  <div class="card">
    <div class="card-body pt-2">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <app-carousel [isEdit]="form.get('id')?.value > 0" [youtubeLinks]="youtubeLinks" [files]="mediaFiles" [activeMediaIndex]="activeMediaIndex" 
          [isImageUploadAllowed]="isImageUploadAllowed" [isVideoUploadAllowed]="isVideoUploadAllowed" [isYoutubeLinkAllowed]="isYoutubeLinkAllowed"
          (isFileChanged)="onFileChange($event)" (isFileDeleted)="isFileDeleted($event)" (isOpenYoutubeLinkModalClicked)="openYoutubeLinkModal($event)"  (isCheckboxClicked)="isCheckboxClicked($event)"
          (isActiveMediaIndexChanged)="onActiveMediaIndexChanged($event)"></app-carousel>
        </div>
        <div class="col-lg-2"></div>

        <div class="col-lg-12 mt-10">
          <form class="form w-100" [formGroup]="form" novalidate="novalidate">
            <div class="row mb-8">
              <div class="col-xxl-3">
                <input class="form-check-input" type="checkbox" id="isPrivate" formControlName="isPrivate" (change)="onIsPrivateChange($event)"/>
                <label class="form-check-label text-primary fw-bolder" htmlFor="isPrivate">&nbsp;{{'IS_PRIVATE' | translate}}</label>
              </div>
              <div class="col-xxl-3">
                <input class="form-check-input" type="checkbox" id="isLinkOnly" formControlName="isLinkOnly" (change)="onIsLinkOnlyChange($event)"/>
                <label class="form-check-label text-primary fw-bolder" htmlFor="isLinkOnly">&nbsp;{{'LINK_ONLY' | translate}}</label>
              </div>
              <div class="col-xxl-3">
                <input class="form-check-input" type="checkbox" id="isOpenToComment" formControlName="isOpenToComment" />
                <label class="form-check-label text-primary fw-bolder" htmlFor="isOpenToComment">&nbsp;{{'OPEN_TO_COMMENT' | translate}}</label>
              </div>
              <div class="col-xxl-3">
                <label class="form-label fs-6 fw-bolder text-primary">{{ 'BF_TYPE' | translate}}</label>
                <select name="category" formControlName="categoryId" autocomplete="off"
                  class="form-select form-select-solid form-select-lg fw-bold text-light-primary" [ngClass]="{
                            'is-invalid': form.controls['categoryId'].invalid,
                            'is-valid': form.controls['categoryId'].valid
                          }">
                  <option class="text-light-primary" value="">{{ 'SELECT_PET' | translate}}</option>
                  <ng-container *ngFor="let category of categoryList">
                    <option class="text-light-primary" value={{category.id}}>{{("LANG" | translate) === 'tr' ? category.name : category.nameEn}}</option>
                  </ng-container>
                </select>

                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                            validation: 'required',
                            message: ('BF_TYPE'| translate) + ' ' + ('IS_REQUIRED'| translate),
                            control: form.controls['categoryId']
                          }"></ng-container>
              </div>
            </div>
            <div class="row mb-8">
            <div class="col-xxl-12">
              <label class="form-label fs-6 fw-bolder text-primary">{{ 'BF_NAME' | translate}}</label>
              <input class="form-control bg-transparent text-light-primary" type="text" name="name" formControlName="name"
                autocomplete="off" [ngClass]="{
                        'is-invalid': form.controls['name'].invalid,
                        'is-valid': form.controls['name'].valid
                      }" />
              <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                        validation: 'required',
                        message: ('BF_NAME'| translate) + ' ' + ('IS_REQUIRED'| translate),
                        control: form.controls['name']
                      }"></ng-container>
            </div>
          </div>
            <div class="row mb-8">
              <div class="col-xxl-6">
                <label class="form-label fs-6 fw-bolder text-primary">{{ 'BIRTH_DATE' | translate}}</label>
                <input class="form-control bg-transparent text-light-primary" type="date" name="birthDate"
                  formControlName="birthDate" autocomplete="off" [ngClass]="{
                        'is-invalid': form.controls['birthDate'].invalid,
                        'is-valid': form.controls['birthDate'].valid
                      }" />
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                        validation: 'required',
                        message: ('BIRTH_DATE'| translate) + ' ' + ('IS_REQUIRED'| translate),
                        control: form.controls['birthDate']
                      }"></ng-container>
              </div>
              <div class="col-xxl-6">
                <label class="form-label fs-6 fw-bolder text-primary">{{ 'DEATH_DATE' | translate}}</label>
                <input class="form-control bg-transparent text-light-primary" type="date" name="deathDate"
                  formControlName="deathDate" autocomplete="off" [ngClass]="{
                        'is-invalid': form.controls['deathDate'].invalid,
                        'is-valid': form.controls['deathDate'].valid
                      }" />
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                        validation: 'required',
                        message: ('DEATH_DATE'| translate) + ' ' + ('IS_REQUIRED'| translate),
                        control: form.controls['deathDate']
                      }"></ng-container>
              </div>
            </div>
            <div class="row mb-8">
              <label class="form-label fs-6 fw-bolder text-primary">
                {{ 'MEMORY_TEXT' | translate}}
              </label>
              <textarea class="form-control bg-transparent text-light-primary" type="text" name="text"
                formControlName="text" autocomplete="off" rows="20" maxlength="{{ allowedCharacterCount}}" [ngClass]="{
                    'is-invalid': form.controls['text'].invalid,
                    'is-valid': form.controls['text'].valid
                }"></textarea>
              <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                        validation: 'required',
                        message: ('MEMORY_TEXT'| translate) + ' ' + ('IS_REQUIRED'| translate),
                        control: form.controls['text']
                      }"></ng-container>
                      
            </div>
            <div class="row mb-8">
            <button type="button" (click)="submit()" [disabled]="disableSubmitButton()"
              class="btn btn-custom btn-active-white btn-color-white btn-primary w-100 fs-4 fw-bolder"
              data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
              {{ 'SUBMIT' | translate}}
            </button>
          </div>
          </form>

          <ng-template #formError let-control="control" let-message="message" let-validation="validation">
            <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
              <div class="fv-plugins-message-container">
                <span role="alert">
                  {{ message }}
                </span>
              </div>
            </ng-container>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>

<app-memory-youtube #youtubeComponent (isSuccess)="isSuccess($event)"></app-memory-youtube>
