<div class="text-center mb-5" routerLink="/home">
  <img alt="Logo" src="./assets/media/logos/icon.png" class="h-150px w-150px" style="border-radius:  20px;" />
</div>
<div class="checkout-steps d-flex justify-content-center align-items-center">
  <div class="step" [ngClass]="activeState == 'paymentPlan' ? 'active' : ''">
    <i class="bi bi-wallet" [ngClass]="activeState == 'paymentPlan' ? 'text-white' : 'text-primary'"></i>
    <span>{{"PLANS" | translate}}</span>
  </div>
  <div class="line"></div>
  <div class="step" [ngClass]="activeState == 'membershipInfo' ? 'active' : ''">
    <i class="bi bi-person" [ngClass]="activeState == 'membershipInfo' ? 'text-white' : 'text-primary'"></i>
    <span>{{"MEMBERSHIP_INFOS" | translate}}</span>
  </div>
  <div class="line"></div>
  <div class="step" [ngClass]="activeState == 'addressInfo' ? 'active' : ''">
    <i class="bi bi-card-text" [ngClass]="activeState == 'addressInfo' ? 'text-white' : 'text-primary'"></i>
    <span>{{"ADDRESS_INFOS" | translate}}</span>
  </div>
</div>

<ng-container *ngIf="activeState == 'paymentPlan'">
  <div class="text-center mb-5 mt-5">
    <h1 class="text-primary fw-bolder">
      {{"PLANS" | translate}}
    </h1>
  </div>

  <div class="separator mb-5"><span class="w-125px text-gray-500 fw-semibold fs-7"></span></div>
  <div class="row my-10">
    <div class="col-xxl-3">
      <input class="form-check-input" type="checkbox" id="useVoucher" (change)="onCheckboxChange($event)" />
      <label class="form-check-label text-primary fw-bolder" htmlFor="useVoucher">&nbsp;{{'USE_VOUCHER' |
        translate}}</label>
    </div>
  </div>
  <div *ngIf="useVoucher" class="row my-10 cursor-pointer">
    <form class="form-inline" (ngSubmit)="onVoucherSearch()">
      <div class="input-group mb-3">
        <input class="form-control" type="search" placeholder="{{'VOUCHER' | translate}}" aria-label="Ara"
          [(ngModel)]="voucher" name="voucher">
        <div class="input-group-append">

          <button type="submit" class="btn btn-custom btn-active-white btn-color-white btn-primary"
            style="border-top-left-radius: 0px; border-bottom-left-radius: 0px;">
            <ng-container>
              <span class="indicator-label">
                {{'SEARCH' | translate}}
              </span>
            </ng-container>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="row my-10 cursor-pointer">
    <app-plans [useVoucher]="useVoucher" [activePlan]="activePlan" [isStandByPage]="false"
      (isPlanSelect)="isPlanSelect($event)"></app-plans>
  </div>
</ng-container>

<ng-container *ngIf="activeState == 'membershipInfo'">
  <form class="form w-100" novalidate="novalidate" id="kt_login_signup_form" [formGroup]="registrationForm">
    <div class="text-center mb-5 mt-5">
      <h1 class="text-primary fw-bolder">
        {{"MEMBERSHIP_INFOS" | translate}}
      </h1>
    </div>

    <div class="separator mb-5"><span class="w-125px text-gray-500 fw-semibold fs-7"></span></div>

    <ng-container *ngIf="hasError">
      <div class="mb-lg-15 alert alert-danger">
        <div class="alert-text font-weight-bold">
          Kayıt bilgileri yanlış
        </div>
      </div>
    </ng-container>

    <div class="fv-row mb-8">
      <label class="form-label fw-bolder text-primary fs-6">{{ 'NAME' | translate}}</label>
      <input class="form-control bg-transparent text-light-primary" type="text" name="name" formControlName="name"
        placeholder="{{ 'NAME' | translate}}" autocomplete="off" [ngClass]="{
        'is-invalid': registrationForm.controls['name'].invalid,
        'is-valid': registrationForm.controls['name'].valid
      }" />
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: ('NAME' | translate) + ' ' + ('IS_REQUIRED' | translate),
        control: registrationForm.controls['name']
      }"></ng-container>
    </div>
    <div class="fv-row mb-8">
      <label class="form-label fw-bolder text-primary fs-6">{{ 'SURNAME' | translate}}</label>
      <input class="form-control bg-transparent text-light-primary" type="text" name="surname" formControlName="surname"
        placeholder="{{ 'SURNAME' | translate}}" autocomplete="off" [ngClass]="{
        'is-invalid': registrationForm.controls['surname'].invalid,
        'is-valid': registrationForm.controls['surname'].valid
      }" />
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Soyad is required',
        control: registrationForm.controls['surname']
      }"></ng-container>
    </div>

    <div class="fv-row mb-8">
      <label class="form-label fw-bolder text-primary fs-6">{{ 'EMAIL' | translate}}</label>
      <input class="form-control bg-transparent text-light-primary" type="email" placeholder="{{ 'EMAIL' | translate}}" name="email"
        formControlName="email" autocomplete="off" [ngClass]="{
        'is-invalid': registrationForm.controls['email'].invalid,
        'is-valid': registrationForm.controls['email'].valid
      }" />
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: ('EMAIL' | translate) + ' ' + ('IS_REQUIRED' | translate),
        control: registrationForm.controls['email']
      }"></ng-container>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'email',
        message: ('EMAIL' | translate) + ' ' + ('IS_INVALID' | translate),
        control: registrationForm.controls['email']
      }"></ng-container>
    </div>

    <div class="fv-row mb-8">
      <label class="form-label fw-bolder text-primary fs-6">{{ 'PHONE' | translate}}</label>
      <input class="form-control bg-transparent text-light-primary" type="text" placeholder="{{ 'PHONE' | translate}}"
        name="phone" formControlName="phone" autocomplete="off" [ngClass]="{
        'is-invalid': registrationForm.controls['phone'].invalid,
        'is-valid': registrationForm.controls['phone'].valid
      }" />
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: ('PHONE' | translate) + ' ' + ('IS_REQUIRED' | translate),
        control: registrationForm.controls['phone']
      }"></ng-container>

    </div>
    <!--end::Form group-->

    <!--begin::Form group-->
    <div class="fv-row mb-8">
      <label class="form-label fw-bolder text-primary fs-6">{{ 'PASSWORD' | translate}}</label>
      <input class="form-control bg-transparent text-light-primary" type="password" placeholder="{{ 'PASSWORD' | translate}}" name="password"
        formControlName="password" autocomplete="off" [ngClass]="{
        'is-invalid': registrationForm.controls['password'].invalid,
        'is-valid': registrationForm.controls['password'].valid
      }" />
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: ('PASSWORD' | translate) + ' ' + ('IS_REQUIRED' | translate),
        control: registrationForm.controls['password']
      }"></ng-container>
    </div>
    <!--end::Form group-->

    <!--begin::Form group-->
    <div class="fv-row mb-8">
      <label class="form-label fw-bolder text-primary fs-6">{{ 'CONFIRM_PASSWORD' | translate}}</label>
      <input class="form-control bg-transparent text-light-primary" type="password" placeholder="{{ 'CONFIRM_PASSWORD' | translate}}"
        name="cPassword" autocomplete="off" formControlName="cPassword" [ngClass]="{
        'is-invalid': registrationForm.controls['cPassword'].invalid,
        'is-valid': registrationForm.controls['cPassword'].valid
      }" />
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: ('CONFIRM_PASSWORD' | translate) + ' ' + ('IS_REQUIRED' | translate),
        control: registrationForm.controls['cPassword']
      }"></ng-container>
      
      <ng-container *ngIf="
        registrationForm.controls['cPassword'].errors &&
        registrationForm.controls['cPassword'].errors.ConfirmPassword
      ">
        <div class="fv-plugins-message-container">
          <div class="fv-help-block">
            {{ 'NOMATCH_PASSWORD' | translate}}
          </div>
        </div>
      </ng-container>
    </div>
    <!--end::Form group-->
  </form>

  <ng-template #formError let-control="control" let-message="message" let-validation="validation">
    <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
      <div class="fv-plugins-message-container">
        <div class="fv-help-block">
          <span role="alert">
            {{ message }}
          </span>
        </div>
      </div>
    </ng-container>
  </ng-template>
</ng-container>

<ng-container *ngIf="activeState == 'addressInfo'">
  <form class="form w-100" novalidate="novalidate" id="kt_login_signup_form" [formGroup]="addressForm">
    <div class="text-center mb-5 mt-5">
      <h1 class="text-primary fw-bolder">
        {{"ADDRESS_INFOS" | translate}}
      </h1>
    </div>

    <div class="separator mb-5"><span class="w-125px text-gray-500 fw-semibold fs-7"></span></div>
    <div class="fv-row mb-8">
      <label class="form-label fw-bolder text-primary fs-6">{{ 'COUNTRY' | translate }}</label>
      <input class="form-control bg-transparent text-light-primary" type="text" name="country" formControlName="country"
        placeholder="{{ 'COUNTRY' | translate }}" autocomplete="off" [ngClass]="{
        'is-invalid': addressForm.controls['country'].invalid,
        'is-valid': addressForm.controls['country'].valid
      }" />
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: ('COUNTRY' | translate) + ' ' + ('IS_REQUIRED' | translate),
        control: addressForm.controls['country']
      }"></ng-container>
    </div>
    <div class="fv-row mb-8">
      <label class="form-label fw-bolder text-primary fs-6">{{ 'CITY' | translate }}</label>
      <input class="form-control bg-transparent text-light-primary" type="text" name="city" formControlName="city"
        placeholder="{{ 'CITY' | translate }}" autocomplete="off" [ngClass]="{
        'is-invalid': addressForm.controls['city'].invalid,
        'is-valid': addressForm.controls['city'].valid
      }" />
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: ('CITY' | translate) + ' ' + ('IS_REQUIRED' | translate),
        control: addressForm.controls['city']
      }"></ng-container>
    </div>
    <div class="fv-row mb-8">
      <label class="form-label fw-bolder text-primary fs-6">{{ 'DISTRICT' | translate }}</label>
      <input class="form-control bg-transparent text-light-primary" type="text" name="district"
        formControlName="district" placeholder="{{ 'DISTRICT' | translate }}" autocomplete="off" [ngClass]="{
        'is-invalid': addressForm.controls['district'].invalid,
        'is-valid': addressForm.controls['district'].valid
      }" />
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: ('DISTRICT' | translate) + ' ' + ('IS_REQUIRED' | translate),
        control: addressForm.controls['district']
      }"></ng-container>
    </div>

    <div class="fv-row mb-8">
      <label class="form-label fs-6 fw-bolder text-primary">
        {{ 'ADDRESS' | translate }}
      </label>
      <textarea class="form-control bg-transparent text-light-primary" type="text" name="address"
        formControlName="address" autocomplete="off" [ngClass]="{
                    'is-invalid': addressForm.controls['address'].invalid,
                    'is-valid': addressForm.controls['address'].valid
                }"></textarea>

      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: ('ADDRESS' | translate) + ' ' + ('IS_REQUIRED' | translate),
        control: addressForm.controls['address']
      }"></ng-container>
    </div>

    <div class="fv-row mb-8">
      <label class="form-label fs-6 fw-bolder text-primary">
        {{ 'ADDRESS_HEADER' | translate }}
      </label>
      <input class="form-control bg-transparent text-light-primary" placeholder="{{ 'ADDRESS_HEADER' | translate }}" type="text"
        name="addressHeader" formControlName="addressHeader" autocomplete="off" [ngClass]="{
                    'is-invalid': addressForm.controls['addressHeader'].invalid,
                    'is-valid': addressForm.controls['addressHeader'].valid
                }" />
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: ('ADDRESS_HEADER' | translate) + ' ' + ('IS_REQUIRED' | translate),
        control: addressForm.controls['addressHeader']
      }"></ng-container>
    </div>
  </form>

  <ng-template #formError let-control="control" let-message="message" let-validation="validation">
    <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
      <div class="fv-plugins-message-container">
        <div class="fv-help-block">
          <span role="alert">
            {{ message }}
          </span>
        </div>
      </div>
    </ng-container>
  </ng-template>
</ng-container>

<ng-container>
  <div class="row">
    <div class="col-lg-6">
      <a *ngIf="activeState != 'paymentPlan'" style="float: left"
        (click)="changeState(activeState == 'membershipInfo' ? 'paymentPlan' : 'membershipInfo')"
        class="btn btn-custom btn-active-white btn-color-white btn-primary" data-kt-menu-trigger="click"
        data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
        <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr002.svg'" class="svg-icon svg-icon-2"></span>
        {{ 'PREV' | translate}}
      </a>
    </div>
    <div class="col-lg-6">
      <a [class.disabled-link]="(activeState == 'paymentPlan' &&
        activePlan < 2) || (activeState == 'membershipInfo' &&
        registrationForm.invalid)" *ngIf="activeState != 'addressInfo'"
        style="float: right" (click)="changeState(activeState == 'paymentPlan' ? 'membershipInfo' : 'addressInfo')"
        class="btn btn-custom btn-active-white btn-color-white btn-primary" data-kt-menu-trigger="click"
        data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
        <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr001.svg'" class="svg-icon svg-icon-2"></span>
        {{ 'NEXT' | translate}}
      </a>

      <a (click)="submit()" [class.disabled-link]="activeState == 'addressInfo' && addressForm.invalid"
        *ngIf="activeState == 'addressInfo'" style="float: right"
        class="btn btn-custom btn-active-white btn-color-white btn-primary" data-kt-menu-trigger="click"
        data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
        {{ 'SUBMIT' | translate}}
      </a>
    </div>
  </div>
</ng-container>