:host {
  width: 100%;
  @media (min-width: 992px) {
    .login-form {
      width: 100%;
      max-width: 450px;

      .mat-form-field {
        width: 100%;
      }
    }
  }
}

.checkout-steps {

  .step {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: white;
    border: 1px solid white;
    border-radius: 999px;
    padding: 10px 20px;
    font-weight: 500;
    color: #212529;
    transition: all 0.2s ease;

    i {
      font-size: 1.1rem;
    }

    &.active {
      background: rgba(13, 110, 253, 0.1);
      border-color: var(--bs-primary);
      color: var(--bs-primary);
    }
  }

  .line {
    flex: 1;
    border-top: 1px dashed #000 !important;
    height: 1px;
    width: 20px;
  }
}

.selected-plan {
    background: var(--bs-primary-light); 
    border-color: var(--bs-primary-light);
    color: var(--bs-primary-light);
}

.disabled-link {
  pointer-events: none;
  opacity: 0.6;
  cursor: default;
}
