<div [ngStyle]="{'height.px': bannerHeight}">
  <div class="row mx-10" [ngStyle]="{'padding-top.px': bannerPaddingTopHeight}">
    <div class="center-title-wrapper">
      <span class="text-white fw-bolder" style="font-size: 30px;">{{ 'MEMORY_HEADER' | translate}}</span>

      <span class="text-white" style="font-size: 15px;">{{ 'MEMORY_SUBHEADER' | translate}}</span>
    </div>
  </div>

  <div class="row mx-10" [ngStyle]="{'padding-top.px': bannerToolPaddingTopHeight}">
    <div [ngClass]="isNewMemoryVisible ? 'col-lg-2' : 'col-lg-4'">
      <select class="form-select form-select-solid form-select-lg text-light-primary fw-bold" name="petType"
        (change)="onPetTypeChange($event)">
        <option class="text-light-primary" value="">{{ 'SELECT_PET' | translate}}</option>
        <ng-container *ngFor="let category of categoryList">
          <option class="text-light-primary" value={{category.id}}>{{("LANG" | translate) === 'tr' ? category.name :
            category.nameEn }}</option>
        </ng-container>
      </select>
    </div>
    <div [ngClass]="isMyListVisible ? 'col-lg-6' : 'col-lg-8'">
      <form class="form-inline" (ngSubmit)="onSearch()">
        <div class="input-group mb-3">
          <input class="form-control" type="search" placeholder="{{'SEARCH_BAR' | translate}}" aria-label="Ara"
            [(ngModel)]="searchTerm" name="searchTerm">
          <div class="input-group-append">

            <button type="submit" class="btn btn-custom btn-active-white btn-color-white btn-primary"
              style="border-top-left-radius: 0px; border-bottom-left-radius: 0px;">
              <ng-container>
                <span class="indicator-label">
                  {{'SEARCH_BAR' | translate}}
                </span>
              </ng-container>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div *ngIf="isMyListVisible" [ngClass]="isMyListVisible ? 'col-lg-2 text-center py-3' : 'text-center py-3'">
      <input class="form-check-input" type="checkbox" id="mine" (change)="onCheckboxChange($event)" />
      <label class="form-check-label text-white fs-3 fw-bolder" htmlFor="mine">&nbsp;{{'MY_MEMORIES' |
        translate}}</label>
    </div>
    <div *ngIf="isNewMemoryVisible" [ngClass]="isNewMemoryVisible ? 'col-lg-2' : ''">
      <a class="btn btn-custom btn-active-white btn-color-white btn-primary w-100" data-bs-toggle="modal"
        data-bs-target="#kt_modal_create_app" id="kt_toolbar_primary_button" (click)="goToNewMemory()">
        {{'ADD_MEMORY' | translate}}
      </a>
    </div>
  </div>
</div>

<div class="row mx-10 my-10">
  <ng-container *ngFor="let data of dataSource">
    <div class="col-lg-6 col-md-12 mb-5">
      <div class="image-card">

        <!-- Background image -->
        <div *ngIf="data.fileUrl" class="image-bg" [style.backgroundImage]="'url(' + data.fileUrl + ')'">
        </div>

        <div *ngIf="!data.fileUrl" class="image-bg" [style.backgroundImage]="'url(./assets/media/patterns/blank.jpg)'">
        </div>
        <div class="image-overlay">
          <div *ngIf="data.hasDonation" class="qr-top-left" title="{{ 'BADGE' | translate}}">
            <i class="fa-solid fa-ribbon text-white fs-1"></i>
          </div>
          <div class="qr-top-right">
            <qrcode [qrdata]="data.qrData!" [width]="80" [errorCorrectionLevel]="'M'">
            </qrcode>
          </div>
          <div class="overlay-content-bottom">
            <div class="overlay-user">
              <img *ngIf="data.userAvatar" class="avatar" [src]="data.userAvatarFileUrl" />
              <img *ngIf="!data.userAvatar" class="avatar" src="./assets/media/avatars/blank.png" />

              <div class="user-info">
                <div class="user-type">{{ data.userName }}</div>
                <div class="date">{{ data.postDate }}</div>
              </div>
            </div>

            <div class="overlay-divider"></div>

            <div class="overlay-bottom">
              <div (click)="memoryEditView(data.id)" class="username">{{ data.name }}</div>
              <div class="actions">
                <span class="action" (click)="openCommentsModal(data.id, data.commentsCount)">
                  <i class="bi bi-chat"></i> {{ data.commentsCount }}
                </span>
                <span class="action">
                  <i class="bi" [ngClass]="data.ownLike! ? 'bi-heart-fill' : 'bi-heart'"></i>
                  <span class="cursor: pointer" (click)="openLikesModal(data.id, data.likesCount)"> {{ data.likesCount
                    }} </span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<ng-container *ngIf="totalCount == 0">
  <div class="row mx-10 pt-5">
    <div class="col-xxl-12" style="height: 500px; text-align: center; align-items: center;">
      <div class="card card-xl-stretch mb-xl-8">
        <div class="card-body">
          <div class="d-flex justify-content-start flex-column" style="position: absolute;
                left: 50%;
                top: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);">
            <a class="text-gray-900 fw-bolder text-hover-primary fs-6">
              {{'NO_DATA_AVAILABLE' | translate}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<div class="row">
  <ngb-pagination *ngIf="totalCount > 0" [collectionSize]="totalCount" [(page)]="paginationModel.pageNumber"
    [pageSize]="paginationModel.pageSize" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"
    (pageChange)="onPageChanges()">
  </ngb-pagination>
</div>

<app-memory-comment #commentsComponent (isSuccess)="isSuccess($event)"></app-memory-comment>
<app-memory-like #likesComponent></app-memory-like>