/* You can add global styles to this file, and also import other style files */
@import "./assets/sass/style.scss";
// Replace above style with this css file to enable RTL styles
// @import "./assets/css/style.rtl";
@import './assets/sass/plugins.scss';
// @import "./assets/css/style.rtl.css";
@import "./assets/sass/style.angular.scss";

// Keenicons - High quality and pixel perfect font icons available in 3 styles, duotone, outline and solid for Metronic elements
@import "./assets/plugins/keenicons/duotone/style.css";
@import "./assets/plugins/keenicons/outline/style.css";
@import "./assets/plugins/keenicons/solid/style.css";


.aside-fixed.aside-secondary-enabled[data-kt-sticky-header=on] .header {
    left: 0px !important;
}

.aside-secondary-enabled.aside-fixed .wrapper {
    padding-left: 0px !important;
}

input[type="search"]::-webkit-search-cancel-button {
    cursor: pointer;
}

.svg-icon.svg-icon-1 svg {
    height: 50px !important;
    width: 50px !important;
}

.home-background {
    background-image: linear-gradient(#00000080, #00000080), url('./assets/media/patterns/home.jpg');
    background-position: center center;
    background-repeat: repeat, no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
}

.memory-background {
    background-image: linear-gradient(#00000080, #00000080), url('./assets/media/patterns/memory.jpeg');
    background-position: center center;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    position: relative;
    height: 50vh;
}

.memoryeditsave-background {
    background-image: linear-gradient(#00000080, #00000080), url('./assets/media/patterns/memoryeditsave.jpeg');
    background-position: center center;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    position: relative;
    height: 25vh;
}

.contactus-background {
    background-image: url('./assets/media/patterns/pattern-1.jpg');
    background-position: center center;
    background-repeat: repeat, no-repeat;
    position: relative;
    height: 50vh;
    width: 100%;
}

.payment-background {
    background-image: linear-gradient(#00000080, #00000080), url('./assets/media/patterns/azs.jpeg');
    background-position: center center;
    background-repeat: repeat, no-repeat;
    position: relative;
    height: 50vh;
}

.support-background {
    background-image: linear-gradient(#00000080, #00000080), url('./assets/media/patterns/support.jpeg');
    background-position: center center;
    background-repeat: repeat, no-repeat;
    background-size: cover;
    position: relative;
    height: 50vh;
}