<app-modal #modal [modalConfig]="modalConfig">
    <div class="row mb-8">
        <div class="col-lg-12">
            <div class="alert alert-warning">
                <div class="alert-text font-weight-bold">
                    {{"DOWNGRADE_PACKAGE" | translate}}
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-8">
        <div class="col-lg-12">
            <label class="form-label fs-6 fw-bolder text-primary">
                {{'MEMORIES' | translate}}
            </label>
            <select class="form-select form-select-solid form-select-lg text-light-primary fw-bold" name="petType"
                (change)="onMemorySelect($event)">
                <option class="text-light-primary" value="">{{ 'SELECT_A_MEMORY' | translate}}</option>
                <ng-container *ngFor="let memory of memories">
                    <option class="text-light-primary" value={{memory.id}}>{{memory.name}}</option>
                </ng-container>
            </select>
        </div>
    </div>
</app-modal>