<div class="card card-xl-stretch h-40px" (click)="showBasket()" style="cursor: pointer;">
  <div class="card-body py-3">
      <div class="col-xxl-12">
        <button class="btn btn-sm position-relative me-5">
          <i [inlineSVG]="'./assets/media/icons/duotune/ecommerce/ecm001.svg'" class="svg-icon svg-icon-2"></i>
          <span *ngIf="basket"
            class="position-absolute top-0 start-0 translate-middle  badge badge-circle badge-danger">{{basket.length}}</span>
        </button>

        <a class="fw-bolder text-primary-900 fs-6">
          {{total}} ₺
        </a>
      </div>
    </div>
</div>