<app-user-editsave #editSaveComponent (isSuccess)="isSuccess($event)">
</app-user-editsave>

<app-confirmation #confirmationComponent (dismissButtonClick)="delete($event)">
</app-confirmation>

<div class="admin-data-page">
  <app-datatable
    [header]="tableName"
    [paginationModel]="paginationModel"
    [dataSource]="dataSource"
    [totalCount]="totalCount"
    [columnList]="columnList"
    [serverSideFiltering]="true"
    (filtersChange)="filtersChange($event)"
    (paginationModelChange)="paginationModelChange($event)"
    (newButtonClick)="openSaveModal($event)"
    (deleteButtonClick)="openDeleteModal($event)"
    (editButtonClick)="openEditModal($event)"
    class="card card-flush shadow-sm"
    [hasEditPermission]="hasEditPermission"
    [hasDeletePermission]="hasDeletePermission"
    [hasNewRecordPermission]="hasNewRecordPermission"
  ></app-datatable>
</div>
